.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.application{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap:28px;
  .application_main{
    width: 795px;
    height: 595px;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px -1px rgba(0, 0, 0, 0.10);
    .main_content{
      padding: 48px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 24px;
      .content_header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          color: var(--gray-900, #212121);
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
        }
        .header_options{
          width: 404px;
          display: flex;
          gap: 16px;
          .options_block{
            display: flex;
            p{
              color: var(--blue-gray-500, #607D8B);
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
            }
            svg{
              margin-right: 5px;
            }
          }
        }
      }
      .content_main{
        width: 100%;
        display: flex;
        justify-content: space-between;
        p{
          width: 495px;
          color: var(--blue-gray-500, #607D8B);
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
        }
      }
      .content_footer{
        width: 623px;
        p{
          color: var(--blue-gray-500, #607D8B);
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
        }
      }
      .content_buttons{
        text-align: right;
        width: 184px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          color: var(--blue-gray-900, #263238);
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
          text-transform: uppercase;
          cursor: pointer;
        }
        button{
          display: flex;
          height: 40px;
          text-transform: uppercase;
          color: white;
          border: none;
          padding: 10px 16px;
          box-sizing: border-box;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          cursor: pointer;
          background: var(--green-500, #4CAF50);
          box-shadow: 0px 2px 4px -2px rgba(76, 175, 80, 0.20), 0px 4px 6px -1px rgba(76, 175, 80, 0.20);
        }
      }
    }
    .main_content > :nth-child(4){
      align-self: flex-end;
    }
  }
}
.list{
  width: 100%;
  background: white;
  border-radius: 16px;
  .list_content{
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    table{
      width: 100%;
      border-spacing: 60px 35px;
      border-collapse: separate;
      thead{
        tr{
          th{
            color: var(--linear-grey, #7B809A);
            font-size: 10px;
            font-weight: 700;
            line-height: 140%; /* 14px */
          }
        }
      }
      tbody{
        width: 600%;
        .line{
          width: 100%;
          height: 1px;
          background: #ECEFF1;
          margin: 5px auto 5px auto;
        }
        tr{
          border-bottom: 1px solid black;
          cursor: pointer;
          .name{
            color: var(--linear-dark-blue, #344767);
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
            position: relative;
            div{
              img{
                position: absolute;
                left: -23%;
                top: -25%;
              }
            }
          }
          .track{
            color: var(--linear-grey, #7B809A);
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
          }
          .position{
            color: var(--linear-grey, #7B809A);
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
          }
          .headmaster{
            color: var(--linear-grey, #7B809A);
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
          }
          .date{
            color: var(--linear-grey, #7B809A);
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
          }
          .status{
            color: var(--linear-grey, #7B809A);
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
            position: relative;
            .status_review{
              left: -15%;
              top: 45%;
              background: #1A73E7;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              position: absolute;
            }
            .status_declined{
              left: -15%;
              top: 45%;
              background: #F44334;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              position: absolute;
            }
            .status_accepted{
              left: -15%;
              top: 45%;
              background: #4CAF50;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              position: absolute;
            }
            .status_waiting{
              left: -15%;
              top: 45%;
              background: #FFB300;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              position: absolute;
            }
          }
        }
      }
      td{
        text-align: left;
      }
      th{
        text-align: left;
      }
      tr:not(:last-child){
        border: 2px solid black;
      }
      th:nth-child(1),td:nth-child(1){
        width: 25%;
      }
      th:nth-child(2),td:nth-child(2){
        width: 10%;
      }
      th:nth-child(3),td:nth-child(3){
        width: 20%;
      }
      th:nth-child(4),td:nth-child(4){
        width: 15%;
      }
      th:nth-child(5),td:nth-child(5){
        width: 10%;
      }
      th:nth-child(6),td:nth-child(6){
        width: 15%;
      }
    }
  }
}
.helloWindow{
  width: 468px;
  height: 379px;
  border-radius: 16px;
  background: white;
  margin: 0 auto;
  .helloWindow_content{
    padding: 48px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    p:nth-child(1){
      color: var(--gray-900, #212121);
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 150%; /* 30px */
    }
    p:nth-child(2){
      color: var(--blue-gray-500, #607D8B);
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 170%; /* 27.2px */
    }
    .buttons{
      width: 188px;
      justify-content: space-between;
      display: flex;
      button:nth-child(1){
        display: flex;
        border: none;
        height: 40px;
        padding: 8px 0px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        text-transform: uppercase;
        cursor: pointer;
        background: var(--white, #FFF);
      }
      button:nth-child(2){
        display: flex;
        height: 40px;
        cursor: pointer;
        border: none;
        padding: 10px 16px;
        justify-content: center;
        color: white;
        text-transform: uppercase;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: var(--green-500, #4CAF50);
        box-shadow: 0px 2px 4px -2px rgba(76, 175, 80, 0.20), 0px 4px 6px -1px rgba(76, 175, 80, 0.20);
      }
    }
  }
}
.applyWindow{
  width: 671px;
  height: 503px;
  background: white;
  border-radius: 16px;
  margin: 0 auto;
  .applyWindow_content{
    width: 100%;
    padding: 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    .visualisation{
      width: 521px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .visualisation_block{
        display: flex;
        flex-direction: column;
        gap: 12px;
        .blockSvgActive{
          width: 32px;
          height: 32px;
          border-radius: 4px;
          background: var(--gray-900, #212121);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .blockSvg{
          background: #CFD8DC;
          width: 32px;
          height: 32px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p{
          color: var(--gray-900, #212121);
          text-align: center;
          font-size: 16px;
          font-weight: 700;
          line-height: 150%; /* 24px */
        }
      }
      .lineActive{
        width: 100px;
        height: 4px;
        background: black;
        border-radius: 6px;
        border: none;
      }
      .line{
        width: 100px;
        height: 4px;
        background: #eceff1;
        border-radius: 6px;
        border: none;
      }
    }
    .text{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      p:nth-child(1){
        color: var(--gray-900, #212121);
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 150%; /* 30px */
      }
      p:nth-child(2){
        color: #607D8B;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }
    }
    .applyMain{
      width: 273px;
      height: 77px;
      border-radius: 16px;
      position: relative;
      .options{
        width: 342px;
        height: 345px;
        border-radius: 16px;
        box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
        background: white;
        position: absolute;
        overflow-y: auto;
        left: -13%;
        .options_content{
          padding: 24px;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 14px;
          .options_block{
            cursor: pointer;
            width: 70%;
            height: 77px;
            color: var(--gray-900, #212121);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 24px */
          }
        }
      }
      .list{
        padding: 12px 24px;
        background: #ECEFF1;
        width: 100%;
        cursor: pointer;
        box-sizing: border-box;
        p {
          color: var(--gray-900, #212121);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 24px */
          margin-right: 25px;
        }
        svg{
          position: absolute;
          right: 10%;
          top: 50%;
        }
      }
    }
    textarea{
      width: 575px;
      height: 146px;
      background: white;
      border-radius: 8px;
      border: 1.5px solid var(--blue-gray-100, #CFD8DC);
      background: rgba(255, 255, 255, 0.00);
      padding: 16px;
      margin: 0 auto;
      box-sizing: border-box;
    }
    textarea::placeholder{
      color: var(--blue-gray-300, #90A4AE);
      font-size: 14px;
      font-weight: 400;
      line-height: 125%; /* 17.5px */
    }
    .buttons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      button:nth-child(1){
        display: flex;
        border: none;
        height: 40px;
        padding: 8px 0px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: Roboto;
        background: var(--white, #FFF);
      }
      button:nth-child(2){
        display: flex;
        height: 40px;
        cursor: pointer;
        border: none;
        padding: 10px 16px;
        justify-content: center;
        color: white;
        font-family: Roboto;
        text-transform: uppercase;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: var(--green-500, black);
        box-shadow: 0px 2px 4px -2px rgba(76, 175, 80, 0.20), 0px 4px 6px -1px rgba(76, 175, 80, 0.20);
      }
    }
  }
  .applyWindow_content > :nth-child(4){
    align-content: space-between;
  }
}