.offline{
  width: 38px;
  height: 25px;
  border-radius: 8px;
  background: #212121;
  display: flex;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  color: white;
  font-size: 12px;
}
.online{
  width: 38px;
  height: 25px;
  border-radius: 8px;
  font-weight: 700;
  background: #1976D2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}