.container{
  width: 100%;
  border-radius: 16px;
  border: 1.5px solid #DDE0E5;
  .content{
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .header{
      display: flex;
      gap: 16px;
      .number{
        width: 38px;
        height: 25px;
        border-radius: 8px;
        background: #ECEFF1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .question{
        color: #212121;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%; /* 24px */
      }
    }
    .answers{
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0px 54px;
      box-sizing: border-box;
      .answerTest{
        display: flex;
        gap: 8px;
        .text{
          color: var(--blue-gray-400, #78909C);
          font-size: 14px;
          font-weight: 500;
          line-height: 150%; /* 21px */
        }
      }
      .answerText{
        display: flex;
        gap: 10px;
        input{
          width: 65%;
          border-radius: 8px;
          border: 1.5px solid #90A4AE;
          background: rgba(255, 255, 255, 0.00);
        }
        input:focus{
          outline: none;
        }
        .sendBlock{
          border-radius: 8px;
          background: var(--gray-900, #212121);
          width: 29px;
          height: 29px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}