.container{
  width: 992px;
  border-radius: 16px;
  background: #ECEFF1;
  .content{
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    input, textarea{
      background: transparent;
      border: none;
    }
    input,textarea:focus{
      outline: none;
    }
    input::placeholder, input{
      color: #212121;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%; /* 24px */
    }
    textarea, textarea::placeholder{
      height: 50px;
      color: #607D8B;
      font-size: 14px;
      font-weight: 500;
      line-height: 150%; /* 21px */
    }
    .article{
      color: #212121;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%; /* 24px */
    }
    .description{
      color: #607D8B;
      font-size: 14px;
      font-weight: 500;
      line-height: 150%; /* 21px */
    }
    .download{
      display: flex;
      align-items: center;
      border-radius: 16px;
      border: 1.5px solid #90A4AE;
      width: 263px;
      height: 156px;
      p{
        color: #90A4AE;
        font-size: 14px;
        font-weight: 500;
        line-height: 170%; /* 23.8px */
      }
      input{
        display: none;
      }
    }
    .video{
      width: 100%;
      height: 480px;
      border: 2px solid #90A4AE;
    }
  }
}
.buttons{
  display: flex;
  width: 170px;
  margin-left: 82%;
  justify-content: space-between;
}