.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .person{
    display: flex;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    position: relative;
    border-radius: 16px;
    .person_photo{
      border: 2px solid white;
      margin-right: 10px;
      border-radius: 50%;
    }
    .person_info{
      display: flex;
      flex-direction: column;
      .person_name{
        font-family: "Roboto Flex";
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #212121;
      }
      .person_online{
        font-family: "Roboto Flex";
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #607D8B;
      }
    }
    svg{
      position: absolute;
      left: 80%;
      top: 20%;
      cursor: pointer;
    }
  }
}
.active{
  background: #ECEFF1;
  width: 100%;
}