@import "assets/fonts/fonts.css";
html {
    height:100%;
    overflow-x: hidden;
}
body{
    height: 100%;
    font-family: Roboto;
    background: linear-gradient(45deg, #ffffff, #95c0ea, #e7ebfd, #519ee8);
    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
.container{
    max-width: 1370px;
    width: 1370px;
    margin: 50px auto 0 auto;
}
::-webkit-scrollbar {
    width: 4px;
    height: 50px;
}

::-webkit-scrollbar-thumb {
    background: #CFD8DC; /* Цвет ползунка */
    border-radius: 4px; /* Закругленные углы */
}

::-webkit-scrollbar-track {
    background: transparent; /* Прозрачный фон трека */
}


