.lesson_progress{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .progress_bar{
    width: 75%;
    height: 5px;
    border-radius: 10px;
  }
  .progress_percentage{
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #607D8B;
  }
}